* {
    font-family: 微软雅黑;
}

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.posts {
    list-style: none;
    padding-left: 8px;
}

.posts li {
    margin-bottom: 15px;
}

.posts .post-date {
    background-color: #b95553;
    padding: 4px 5px;
    color: #fff;
}

.posts .post-link {
    color: #000;
    text-decoration: none;
    transition: color .3s;
}

.posts .post-link:hover {
    color: #555;
    text-decoration: underline;
}

#article .title {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 2px solid #b95553;
}

#article a {
    color: #b95553;
}

#article blockquote {
    border-left: 5px solid #b95553;
    margin-left: 0;
    padding-left: 10px;
}

#article code {
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    display: block;
    color: #fff;
}

#article strong {
    color: #b95553;
}

#article table {
    border-collapse: collapse;
    width: 100%;
}

#article table td, #article table th{
    border: 1px solid #b95553;
    padding: 6px 10px;
}

#article table th {
    color: #fff;
    background: #b95553;
}

#article ul {
    list-style-type: square;
}

#container {
    background: rgba(255, 255, 255, 0.8);
    width: 700px;
    padding: 50px 60px;
}

#header .title {
    color: #b95553;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    margin-left: -6px;
}

#nav {
    position: fixed;
    left: 780px;
    top: 45px;
    list-style: none;
}

#nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    background-color: #b95553;
    opacity: 0.8;
    transition: padding-left .3s, opacity .3s;
}

#nav a.bigger {
    padding-bottom: 30px;
}

#nav a:hover {
    padding-left: 30px;
    opacity: 1;
}

#nav li {
    margin-bottom: 15px;
}